@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --color-primary: #ff4500;
  --color-creme: #f2eada;
  --color-main-bg: #f2f2f2;

  --color-text-secondary: #666666;
  --color-text-muted: #aaa499;

  --font-actay: 'ActayWide';
  --font-condensed: 'Roboto Condensed', sans-serif;
  --font-anton: 'my-custom';
}

@font-face {
  font-family: ActayWide;
  src: url(assets/fonts/Actay_Wide_Bold_1.woff2);
}

@font-face {
  font-family: my-custom;
  src: url(assets/fonts/Anton-Regular.ttf);
}

#root {
  font-family: ActayWide;
}

.site-padding {
  @apply px-5 md:px-9 lg:px-12;
}
