@import 'tailwindcss';

@font-face {
  font-family: ActayWide;
  src: url(assets/fonts/Actay_Wide_Bold_1.woff2);
}

@font-face {
  font-family: my-custom;
  src: url(assets/fonts/Anton-Regular.ttf);
}

#root {
  font-family: ActayWide;
}
